.m1 {
	font-family: monospace;
	font-size: 15px;
}
.bk {
	font-family: monospace;
	color: white;
}
button {
	background-color: black;
	font-family: monospace;
	border-color: white;
}
input {
	background-color: #1D1F22;
	font-family: monospace;
	color: white;
	border-color: white;
}
